* {
	margin: 0;
	padding: 0;
}

html {
	background: #777;
}

body {
	width: 980px;
	height: 1386px;
	margin: 0 auto;
	background: #fff;
}

.wrap {
	width: 892px;
	margin: 0 auto;
}
header {
	font-size: 12px;
	font-family: "SimHei", Helvetica, Arial, sans-serif;
}

.header-wrap {
	height: 61px;
	border-bottom: 2px solid #938e8c;
	position: relative;
}

.header-left {
	position: absolute;
	left: 0;
	background: #d45d5c;
	width: 110px;
	height: 61px;
}

#top-icon {
	position: absolute;
	left: 5px;
	bottom: 2px;
	color: white;
}

.header-right {
	position: absolute;
	right: 0;
	bottom: 2px;
	color: #d45d5c;
}

article {
	margin: 30px 0;
}

#a1-img {
	position: relative;
}

#datu {
	position: absolute;
	top: 0;
	left: 0;
}

#green {
	position: absolute;
	width: 191px;
	height: 301px;
	top: 0;
	left: 0;
	background: green;
	opacity: 0.2;
} 

#red {
	position: absolute;
	width: 191px;
	height: 301px;
	top: 0;
	left: 450px;
	background: red;
	opacity: 0.2;
}

#aside {
	height: 301px;
	width: 203px;
	border-top: solid 2px #cc8091;
	float: right;
	font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

#about {
	font-size: 24px;
	text-decoration: underline;
	/*line-height: 40px;*/
	color: #000;
}